

@model List<RehberUygulamasi.Models.Entities.Kisi>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="container">

    <div class="d-flex">
        <h2 class="text-center">Telefon Rehberi</h2>
    </div>
    <br />
    <div class="d-flex justify-content-end">
        @using (Html.BeginForm("Index", "Kisi", FormMethod.Get))
        {

            <div class="input-group">
                @Html.TextBox("ara", null, new { @class = "form-control" })
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" value="">
                        <i class="mr-2 fa fa-search"></i>Ara
                    </button>
                </div>
            </div>
        }
        <span style="margin:10px;"></span>
        <a href="@Url.Action("Ekle", "Kisi")" class="btn btn-success">
            <i class="fa fa-plus"></i>
            <span>
                Yeni Kişi Oluştur
            </span>
        </a>


    </div>
    <br /><br />
    <br />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><b>Ad</b></th>
                <th><b>Soyad</b></th>
                <th><b>Telefon</b></th>
                <th><b>İşlemler</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kisi in Model)
            {
                <tr>

                    <td>@kisi.Ad</td>
                    <td>@kisi.Soyad</td>
                    <td>@kisi.Telefon</td>
                    <td>
                        <a class="btn btn-info" href="/Kisi/Guncelle/@kisi.Id">
                            <i class="mr-2 fa fa-user-edit"></i>
                            <span>Güncelle</span>
                        </a>
                        <a class="btn btn-danger" href="/Kisi/Sil/@kisi.Id" onclick = "return confirm('Kişiyi silmek istediğine emin misin?');">
                            <i class="mr-2 fa fa-trash"></i> 
                            <span>Sil</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>